@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{

    box-sizing: border-box;
}
body{
    background-image: url('https://images.unsplash.com/photo-1414541944151-2f3ec1cfd87d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=874&q=80');
    margin:0 6rem;
    font-family: 'Times New Roman', Times, serif;
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
 
    
}
.countdown-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    

}
h1{
    font-size: 4rem;
    margin-top: 5rem;
}
.big-text{
    font-size: 5rem;
    line-height: 1;
    text-align: center;
    margin-left: 2rem;
    font-weight: bold;
}
.countdown-el s{
    text-align: center;
}
.countdown-el span{
    font-size: 2rem;
    margin-left: 2rem;
}